
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{	
	font-family: 'Lato', sans-serif;
	padding: 0;
}

nav{
	top: 0;
	height: 60px;
	position: fixed;
	width: 100%;
	background: black;
}
nav:hover{
	box-shadow: 5px 5px 10px gray;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav-links{
	display: flex;
	color: white;
	width: 50%;
	height: 100%;
	margin-left: auto;
	justify-content: space-around;
	align-items: center;
}
.nav-items a{
	color: white;
}

@media (max-width: 768px){
	.line{
		width: 30px;
		height: 3px;
		margin: 5px;
		background-color: white;
	}

	nav{
		position: relative;
	}

	.hamburger{
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		z-index: 2;
		transform: translate(-5%, -50%);
	}
	.nav-links{
		position: fixed;
		background-color: black;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		-webkit-clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
	}
	.nav-links.open{
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
	}
	.nav-links li{
		opacity: 0;
	}
	.nav-links li a{
		font-size: 25px;
	}
	.nav-links li:nth-child(1){
		transition: all 0.5s ease 0.2s;

	}
	.nav-links li:nth-child(2){
		transition: all 0.5s ease 0.4s;
		
	}
	.nav-links li:nth-child(3){
		transition: all 0.5s ease 0.6s;
		
	}
	.nav-links li:nth-child(4){
		transition: all 0.5s ease 0.8s;
		
	}
	li.fade{
		opacity: 1;
	}
}